
extends layout

block content
	nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				.navbar-brand Control Panel
			ul.nav.navbar-nav.navbar-right
				li
					.navbar-btn#btn-account-setting.btn.btn-default
						| Account Setting
					.navbar-btn#btn-logout-search.btn.btn-default
						| Sign Out
	#search.center-vertical
		form.well(id='form-search', method='post')
			h2 Weather Query
			h6 Please Input a city
			.form-group
				label Cityname
				input.form-control(type='text', id='city-tf', name='city')
			.controls
				button(type='submit')#btn-lucky.btn.button-lucky
					span.glyphicon.glyphicon-heart
					|   I'm feeling lucky			
				button(type='submit')#btn-search.btn.btn-primary.button-search
					span.glyphicon.glyphicon-search
					|   Search
			.clearfix
		
	include modals/alert

block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/jquery.form.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/search.js')
	script(src='/js/controllers/searchController.js')
	script(src='/js/form-validators/searchValidator.js')
